body {
    background-image: url("./Image/bg_tablet.png.png");

    background-repeat: no-repeat;
    color: #000;
    font-family: Inter;
    font-weight: 600;
    background-color: #fff;
    background-blend-mode: difference;
    background-size: cover;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    height: 975px;
    background-color: #ffffff50;
    border-radius: 30px;
    margin-top: 143px;
}


.excel_button  {
    border-radius: 20px;
    background: #45B600;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 10px 16px;
    margin-right: 20px;
    border: 0px;
}

.excel_button:hover {
    background-color: white;
    color: black
}

.add_button {
    border-radius: 20px;
    background: #45B600;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    padding: 10px 16px;
    color: white;
    font-size: 16px;
    border: 0px;
}

.add_button:hover {
    background-color: white;
    color: black
}

.Overdue {
    border-radius: 20px  0 0 20px ;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    padding: 0px 26px;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0%
}

.New_job {
   
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    height: 120px;
    padding: 0px 26px;
    display: flex;
    align-items: center;
}

.Today_comp {

    background-color: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    height: 120px;
    padding: 0px 26px;
    display: flex;
    align-items: center;
}

.Top_eng {
    border-radius:0  20px 20px 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    padding: 0px 26px;
    height: 120px;
    display: flex;
    align-items: center;



}
.Job_status {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.searchinput {
    display: flex;
   
    padding: 10px 16px;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border: none;
}


.Search_button1 {
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 16px;
   
    font-family: Inter;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;

}

.Search_button1:hover {
    background-color: #415DA4;
    color: rgb(255, 255, 255)
}

.AdSearch_button1 {
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    padding: 10px 16px;
    font-size: 16px;
   
    color: #000000;
    font-family: Inter;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
}

.AdSearch_button1:hover {
    background-color: #415DA4;
    color: rgb(255, 255, 255)
}

.adsearch_option {
    border-radius: 30px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    width: 24%;
    height: 48px;
    padding: 0px 16px;
    border: 0px;
}

.date {
    display: flex;
    height: 48px;
    padding: 0px 16px;
    align-items: center;
    width: 24%;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);

}

.textsm {
    font-size: 14px;
    font-weight: 400;


}

.dot1 {

    background-color: #FFC70030;
    color: #000;

}

.dot2 {

    background-color: #0038FF30;
    color: #000;

}

.dot3 {

    background-color: #00FF0A30;
    color: #000;
}

.tabletop {
    display: flex;
    height: 70px;
    padding: 0px 16px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px 30px 0px 0px;
    background: #FFF; 
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}


.table_layout {

    height: 508px;
    flex-shrink: 0;
    border-radius: 0px 0px 20px 20px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
   
}


.myDropdown {
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #4194A4;
    color: #FFF;
    padding: 0px 6px;
}








.table_layouttop {
    height: 44;
    flex-shrink: 0;

    background: #FFF;
}


.tabledata {

    font-size: 14px;

    font-weight: 600;


}



table {
    width: 100%;
    border-collapse: collapse;
}


td {

    padding: 5px;
}
th{

    padding: 10px;
    position: sticky;
    top: 0px ;
    background-color: #bbb;
    border-collapse: collapse;
}

td {
    text-align: left;
}
.column-1 {
    width: 14;
}

.column-2 {
    width: 16;
}

.column-3 {
    width: 14;
}

.column-4 {
    width: 14;
}

.column-5 {
    width: 14;
}

.column-6 {
    width: 14;
}

.column-7 {
    width: 14;
}
.approvel {


    
    height: 20px;
    width: 20px;
    background-color: #0e982e;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #bbb;
}

.convert{
    height: 20px;
    width: 20px;
    background-color: #980e0e;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #bbb;
}
.due_data2 {
    color: #ff0000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0%
}


.due_data1 {
    color: #000000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0%
}
.no_plate {
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    width: 12%;

}

.price_est {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
 

}

.table_data1:hover {
    background-color: #00000010;
}